<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.cvlaminck.hwweather" >

    <application
        android:name=".HwWeatherApplication"
        android:label="HWWeather"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme" >
        <activity
            android:name=".front.activities.ForecastActivity"
            android:theme="@style/Theme.ForecastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
